.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}
.nav-item {
  padding: 0px 20px;
}
.nav-item > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}
.rest-card {
  background-color: #f0f0f0;
  width: 239px;
  margin: 10px;
  padding: 11px
}
.res-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  /* align-content: center; */
}
.rest-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.search {
  padding: 10px;
}
.rest-logo {
  width: 100%;
}
.filter-btn {
  cursor: pointer;
  /* justify-content: center; */
  margin-top: 11px;
  margin-left: 12px;
  display: flex;
  padding: 3px;

}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-card{
margin: 20px;
width: 239px;
height: 380px;
/* background-color: #f0f0f0; */
background-color: #dfc3c3;

}
.login{
  padding: 0 20px;
  cursor: pointer;
}
.Filter{
  display: flex;
}
.Search{
  cursor: pointer;
  justify-content: center;
  margin-top: 11px;
  margin-left: 62px;
  display: flex;
  padding: 3px;

}
.user-card{
  padding: 10px;
  border: 1px solid black;
}