.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}
.nav-item {
  padding: 0px 20px;
}
.nav-item > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}
.rest-card {
  
    background-color: #f0f0f0;
    width: 208px;
    margin: 10px;
    padding: 11px; 
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.rest-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.search {
  padding: 10px;
}
.rest-logo {
  width: 100%;
}
.filter-btn{
  margin: 10px;
  /* padding: 5px 5px; */
  cursor: pointer;
}